.add-option-error
{
    color: $off-white;
    padding: 0 $m-size;
    font-style: italic;
}
.add-option
{
    display: flex;
    padding: $m-size;
}
.add-option__textbox
{
    background-color: $dark-blue;
    flex-grow: 1;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    margin-right: $m-size;
    color: $off-white;
    padding: 0 $s-size;
}

@media (max-width: $desktop-breakpoint)
{
    .add-option
    {
        flex-direction: column;
    }
    .add-option__textbox
    {
        margin: 0 0 $s-size 0;
    }
}